{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test"]}
]}.

{clean_files, ["ebin/*.beam"]}.

{deps, [
  {ezk, ".*", {git, "git@github.com:campanja/ezk.git"}},
  {ballermann, ".*", {git, "git@github.com:odo/ballermann.git"}},
  {jiffy, "", {git, "https://github.com/davisp/jiffy.git", "master"}},
  {snappy, "", {git, "git@github.com:pmembrey/snappy-erlang-nif.git", "master"}},
  {etest, ".*", {git, "git://github.com/odo/etest.git"}}
]}.
